<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<div class="well add_elements span3">
  <div class="add_event span12">

    <p><%= @time_of_last_logged_event %></p>

    <fieldset>
      <h3>Add Event</h3>

      <%= form_for @event do |f| %>
          <p>
            <%= f.label :category_id, "Name" %>
            <%= f.text_field :category_id %>
          </p>
          <p>
            <%= f.label :time_interval_id, "Time Interval" %>
            <%= f.text_field :time_interval_id %>
          </p>

          <p>
            <%= label_tag(:description) %>
            <%= f.text_area :description %>
          </p>

          <p>
            <%= submit_tag("Create") %>
          </p>

      <% end %>

    </fieldset>
  </div>

  <div class="add_category span12">
    <fieldset>
      <h3>Add Category</h3>

      <%= form_for @category do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </p>

          <p>
            <%= f.label :parent_id, "Parent" %>
            <%= f.text_field(:parent_id) %>
          </p>

          <p>
            <%= submit_tag("Create") %>
          </p>

      <% end %>
    </fieldset>
  </div>
</div>