<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<div class="well add_elements span3">
  <div class="add_event span12">
    <fieldset>
      <h2>Add Event</h2>

      <%= form_for @event do |f| %>
          <p>
            <%= f.label :category_tokens, "Event Name" %>
            <%= f.text_field(:category_tokens) %>
          </p>
          <p>
            <%= f.label :time_interval %>
            <%= f.text_field :time_interval %>
          </p>

          <p>
            <%= label_tag(:description) %>
            <%= f.text_area :description %>
          </p>

          <p>
            <%= submit_tag("Create") %>
          </p>

      <% end %>

    </fieldset>
  </div>

  <div class="add_category span12">
    <fieldset>
      <h2>Add Category</h2>

      <%= form_for @category do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </p>

          <p>
            <%= f.label :category_tokens, "Category Parent" %>
            <%= f.text_field(:category_tokens) %>
          </p>

          <p>
            <%= submit_tag("Create") %>
          </p>

      <% end %>
    </fieldset>
  </div>
</div>