<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<div id="interactive" style="width:600px;height:300px"></div>

<div class="well time-distribution">
    <fieldset>
        <h2>Time Distribution:</h2>
        <% @category.children.each do |child| %>
            <ul><%= "#{child.title}: #{child.total_time_spent}" %></ul>
        <% end %>
    </fieldset>
</div>

<% if @category.title == "Root" %>
    <div class="well add-event">
        <fieldset>
          <h2>Add event</h2>

          <%= form_for :event, url: events_path do |f| %>
            <p>
              <%= f.label :title %><br>
              <%= f.text_field :title %>
            </p>

            <p>
              <%= f.label :time_interval %><br>
              <%= f.text_field :time_interval %>
              <%= hidden_field_tag(:category_id, @category[:id]) %>
            </p>

             <p>
               <%= f.label :description %><br>
               <%= f.text_area :description %>
             </p>

             <p>
               <%= f.submit %>
             </p>
            <% end %>
        </fieldset>
    </div>
<% end %>

<div class="well add-subcategory">
    <fieldset>
        <h2>Create subcategory</h2>

        <%= form_for :category, url: categories_path do |f| %>
            <p>
                <%= f.label :title %><br>
                <%= f.text_field :title %>
                <%= hidden_field_tag(:parent_id, @category[:id]) %>
            </p>

            <p>
                <%= f.submit %>
            </p>
        <% end %>
    </fieldset>
</div>

<div class="well subcategories">
  <h2>Subcategories:</h2>

  <% @category.children.each do |sub_category| %>
      <li><a href="<%= category_path(sub_category)%>"><%= sub_category.title %></a></li>
    <% end %>
</div>
